{{log "Armor" this}}
{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "ARMOR.Sheet.section.details"}}</a>
        <a class="item" data-tab="characteristics">{{localize "ARMOR.Sheet.section.characteristics"}}</a>
        <a class="item" data-tab="modifiers">{{localize "ARMOR.Sheet.section.modifiers"}}</a>
        <a class="item" data-tab="weapon-modifiers">{{localize "ARMOR.Sheet.section.weapon-modifiers"}}</a>
        <a class="item" data-tab="price">{{localize "ARMOR.Sheet.section.price"}}</a>
        <a class="item" data-tab="active-effects">{{localize "ARMOR.Sheet.section.active-effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h1>Details</h1>
            <div>
                <label for="key">{{localize "ARMOR.Sheet.details.key.label"}}</label>
                <input id="key" name="system.key" type="text" value="{{system.key}}" placeholder="key"/>
                {{editor system.description target="system.description" rollData=rollData button=true owner=owner
                         editable=editable}}
            </div>
            <div>
                {{#each this.sources as |source|}}
                    <label for="source">{{localize "ARMOR.Sheet.details.source.label"}}</label>
                    <input id="source" name="system.description" type="text" value="{{source.description}}"
                           placeholder="Description"/>

                    <label for="page">{{localize "ARMOR.Sheet.details.page.label"}}</label>
                    <input id="page" name="system.page" type="number" value="{{source.page}}" placeholder="Page"/>
                {{/each}}
            </div>
        </div>

        <div class="tab characteristics" data-group="primary" data-tab="characteristics">
            <h1>Characteristics</h1>
            <div>
                <label for="defense">{{localize "ARMOR.Sheet.characteristics.defense.label"}}</label>
                <input id="defense" name="system.defense" type="number" value="{{system.defense}}"
                       placeholder="Defense"/>

                <label for="soak">{{localize "ARMOR.Sheet.characteristics.soak.label"}}</label>
                <input id="soak" name="system.soak" type="number" value="{{system.soak}}" placeholder="Soak"/>

                <label for="encumbrance">{{localize "ARMOR.Sheet.characteristics.encumbrance.label"}}</label>
                <input id="encumbrance" name="system.encumbrance" type="number" value="{{system.encumbrance}}"
                       placeholder="Encumbrance"/>

                <label for="hardpoints">{{localize "ARMOR.Sheet.characteristics.hardpoints.label"}}</label>
                <input id="hardpoints" name="system.hp" type="number" value="{{system.hp}}" placeholder="hardpoints"/>

                <label for="rarity">{{localize "ARMOR.Sheet.characteristics.rarity.label"}}</label>
                <input id="rarity" name="system.rarity" type="number" value="{{system.rarity}}" placeholder="Rarity"/>

                {{#each system.categories as |category|}}
                    <label for="category">{{localize "ARMOR.Sheet.characteristics.category.label"}}</label>
                    <input id="category" name="system.category" type="text" value="{{category}}"
                           placeholder="Category"/>
                {{/each}}
            </div>

            {{!-- Weapon Modifiers Tab --}}
            <div class="tab modifiers" data-group="primary" data-tab="modifiers">
                {{!-- As you add new fields, add them in here! --}}
                <h1>Modifiers</h1>
                {{#each system.mods as |mod|}}

                    <label for="mod-key">{{localize "ARMOR.Sheet.modifiers.key.label"}}</label>
                    <input id="mod-key" name="system.mod.key" type="text" value="{{system.mod.key}}" placeholder="Key"/>

                    <label for="mod-miscDesc">{{localize "ARMOR.Sheet.modifiers.miscDesc.label"}}</label>
                    <input id="mod-miscDesc" name="system.mod.miscDesc" type="text" value="{{system.mod.miscDesc}}"
                           placeholder="Misc Description"/>

                    <label for="mod-count">{{localize "ARMOR.Sheet.modifiers.value.count"}}</label>
                    <input id="mod-count" name="system.mod.count" type="number" value="{{system.mod.count}}"
                           placeholder="Count"/>

                    {{#each system.mod.dieModifiers as |dieModifier|}}
                        <label for="mod-dieModifier-skillKey">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.skillKey"}}</label>
                        <input id="mod-dieModifier-skillKey" name="system.mod.dieModifier.skillKey" type="text"
                               value="{{system.mod.dieModifier.skillKey}}" placeholder="Skill Key"/>

                        <label for="mod-dieModifier-skillType">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.skillType"}}</label>
                        <input id="mod-dieModifier-skillType" name="system.mod.dieModifier.skillType" type="text"
                               value="{{system.mod.dieModifier.skillType}}" placeholder="Skill Type"/>

                        <label for="mod-dieModifier-skillChar">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.skillChar"}}</label>
                        <input id="mod-dieModifier-skillChar" name="system.mod.dieModifier.skillChar" type="text"
                               value="{{system.mod.dieModifier.skillChar}}" placeholder="Skill Characteristic"/>

                        <label for="mod-dieModifier-addSetBackCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.addSetBackCount"}}</label>
                        <input id="mod-dieModifier-addSetBackCount" name="system.mod.dieModifier.addSetBackCount"
                               type="number" value="{{system.mod.dieModifier.addSetBackCount}}"
                               placeholder="Add Setback Count"/>

                        <label for="mod-dieModifier-advantageCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.advantageCount"}}</label>
                        <input id="mod-dieModifier-advantageCount" name="system.mod.dieModifier.advantageCount"
                               type="number" value="{{system.mod.dieModifier.advantageCount}}"
                               placeholder="Advantage Count"/>

                        <label for="mod-dieModifier-boostCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.boostCount"}}</label>
                        <input id="mod-dieModifier-boostCount" name="system.mod.dieModifier.boostCount" type="number"
                               value="{{system.mod.dieModifier.boostCount}}" placeholder="Boost Count"/>

                        <label for="mod-dieModifier-setbackCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.setbackCount"}}</label>
                        <input id="mod-dieModifier-setbackCount" name="system.mod.dieModifier.setbackCount"
                               type="number" value="{{system.mod.dieModifier.setbackCount}}"
                               placeholder="Setback Count"/>

                        <label for="mod-dieModifier-successCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.successCount"}}</label>
                        <input id="mod-dieModifier-successCount" name="system.mod.dieModifier.successCount"
                               type="number" value="{{system.mod.dieModifier.successCount}}"
                               placeholder="Success Count"/>

                        <label for="mod-dieModifier-threatCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.threatCount"}}</label>
                        <input id="mod-dieModifier-threatCount" name="system.mod.dieModifier.threatCount" type="number"
                               value="{{system.mod.dieModifier.threatCount}}" placeholder="Threat Count"/>

                        <label for="mod-dieModifier-upgradeAbilityCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.upgradeAbilityCount"}}</label>
                        <input id="mod-dieModifier-upgradeAbilityCount"
                               name="system.mod.dieModifier.upgradeAbilityCount" type="number"
                               value="{{system.mod.dieModifier.upgradeAbilityCount}}"
                               placeholder="Upgrade Ability Count"/>

                        <label for="mod-dieModifier-upgradeDifficultyCount">{{localize
                                "ARMOR.Sheet.modifiers.dieModifier.upgradeDifficultyCount"}}</label>
                        <input id="mod-dieModifier-upgradeDifficultyCount"
                               name="system.mod.dieModifier.upgradeDifficultyCount" type="number"
                               value="{{system.mod.dieModifier.upgradeDifficultyCount}}"
                               placeholder="Upgrade Difficulty Count"/>
                    {{/each}}
                {{/each}}
            </div>

            {{!-- Weapon Modifiers Tab --}}
            <div class="tab weapon-modifiers" data-group="primary" data-tab="weapon-modifiers">
                {{!-- As you add new fields, add them in here! --}}
                <h1>Weapon Modifiers</h1>
                {{#each this.weaponModifiers as |weaponModifier|}}
                    <label for="weaponModifier-unarmed">{{localize "ARMOR.Sheet.weaponModifier.unarmed.label"}}</label>
                    <input id="weaponModifier-unarmed" name="system.weaponModifier.unarmed" type="text"
                           value="{{system.weaponModifier.unarmed}}" placeholder="Unarmed"/>

                    <label for="weaponModifier-skillKey">{{localize "ARMOR.Sheet.weaponModifier.skillKey.label"}}</label>
                    <input id="weaponModifier-skillKey" name="system.weaponModifier.skillKey" type="text"
                           value="{{system.weaponModifier.skillKey}}" placeholder="Skill Key"/>

                    <label for="weaponModifier-damage">{{localize "ARMOR.Sheet.weaponModifier.damage.label"}}</label>
                    <input id="weaponModifier-damage" name="system.weaponModifier.damage" type="number"
                           value="{{system.weaponModifier.damage}}" placeholder="Damage"/>

                    <label for="weaponModifier-crit">{{localize "ARMOR.Sheet.weaponModifier.crit.label"}}</label>
                    <input id="weaponModifier-crit" name="system.weaponModifier.crit" type="number" value="{{system.weaponModifier.crit}}"
                           placeholder="Crit"/>

                    <label for="weaponModifier-critSub">{{localize "ARMOR.Sheet.weaponModifier.critSub.label"}}</label>
                    <input id="weaponModifier-critSub" name="system.weaponModifier.critSub" type="number"
                           value="{{system.weaponModifier.critSub}}" placeholder="Crit Sub"/>

                    <label for="weaponModifier-rangeValue">{{localize "ARMOR.Sheet.weaponModifier.rangeValue.label"}}</label>
                    <input id="weaponModifier-rangeValue" name="system.weaponModifier.rangeValue" type="number"
                           value="{{system.weaponModifier.rangeValue}}" placeholder="Range Value"/>

                    <label for="weaponModifier-range">{{localize "ARMOR.Sheet.weaponModifier.range.label"}}</label>
                    <input id="weaponModifier-range" name="system.weaponModifier.range" type="text" value="{{system.weaponModifier.range}}"
                           placeholder="Range"/>

                    {{#each system.weaponModifier.qualities as |quality|}}
                        <label for="weaponModifier-quality-key">{{localize "ARMOR.Sheet.weaponModifier.quality.key.label"}}</label>
                        <input id="weaponModifier-quality-key" name="system.weaponModifier.quality.key" type="text"
                               value="{{system.weaponModifier.quality.key}}" placeholder="Quality Key"/>

                        <label for="weaponModifier-quality-count">{{localize "ARMOR.Sheet.weaponModifier.quality.count.label"}}</label>
                        <input id="weaponModifier-quality-count" name="system.weaponModifier.quality.count" type="number"
                               value="{{system.weaponModifier.quality.count}}" placeholder="Quality Count"/>
                    {{/each}}

                    {{#each system.weaponModifier.baseMods as |mod|}}
                        <label for="weaponModifier-mod-miscDesc">{{localize "ARMOR.Sheet.weaponModifier.mod.miscDesc.label"}}</label>
                        <input id="weaponModifier-mod-miscDesc" name="system.weaponModifier.mod.miscDesc" type="text"
                               value="{{system.weaponModifier.mod.miscDesc}}" placeholder="Misc Desc"/>

                        <label for="weaponModifier-mod-count">{{localize "ARMOR.Sheet.weaponModifier.mod.count.label"}}</label>
                        <input id="weaponModifier-mod-count" name="system.weaponModifier.mod.count" type="number"
                               value="{{system.weaponModifier.mod.count}}" placeholder="Count"/>
                    {{/each}}

                {{/each}}
            </div>

            {{!-- Price Tab --}}
            <div class="tab price" data-group="primary" data-tab="price">
                <h1>Price</h1>

                {{#each system.eraPricing as |eraPrice|}}
                    <label for="eraPrice-name">{{localize "ARMOR.Sheet.eraPrice.name.label"}}</label>
                    <input id="eraPrice-name" name="system.eraPrice.name" type="text"
                           value="{{system.weaponModifier.eraPrice.name}}" placeholder="Name"/>

                    <label for="eraPrice-price">{{localize "ARMOR.Sheet.eraPrice.price.label"}}</label>
                    <input id="eraPrice-price" name="system.eraPrice.price" type="number"
                           value="{{system.weaponModifier.eraPrice.price}}" placeholder="Price"/>

                    <label for="eraPrice-rarity">{{localize "ARMOR.Sheet.eraPrice.rarity.label"}}</label>
                    <input id="eraPrice-rarity" name="system.eraPrice.rarity" type="number"
                           value="{{system.weaponModifier.eraPrice.rarity}}" placeholder="Rarity"/>

                    <label for="eraPrice-restricted">{{localize "ARMOR.Sheet.eraPrice.restricted.label"}}</label>
                    <input id="eraPrice-restricted" name="system.eraPrice.restricted" type="text"
                           value="{{system.weaponModifier.eraPrice.restricted}}" placeholder="Restricted"/>
                {{/each}}


            </div>

            {{!-- Active Effects Tab --}}
        <div class="tab active-effects" data-group="primary" data-tab="active-effects">
            <h1>Active Effects</h1>
            {{#each this.active-effects as |active-effect|}}
                <div>
                    <input name="system.active-effects" type="text" value="{{item.active-effect}}"
                           placeholder="Active Effects"/>
                </div>
            </div>
            {{/each}}

    </section>
</form>
